.bo-save-link {
    background: url("save-recipe-plus.png") no-repeat scroll 0 3px transparent;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
    display: block;
    height: 20px;
}
.bo-save-link:hover {
    background-position: 0 -23px;
}

